.about-body {
    background-color: var(--about-body-color) !important;
    color: var(--about-body-text) !important;
    font-family: var(--font-montserrat) !important;
}

a {
    background-color : transparent;
    text-decoration : none;
    color      : var(--color-1) !important;
    transition : all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active {
    color : var(--color-1-darker) !important;
}

a:hover,
a:active {
    outline : 0;
}

p {
    font-size      : inherit;
    text-rendering : optimizeLegibility;
}

.row {
    width     : 92%;
    max-width : var(--width-grid-max);
    margin    : 0 auto;
    display   : flex;
    flex-flow : row wrap;
}

.row .row {
    width        : auto;
    max-width    : none;
    margin-left  : calc(var(--gutter) * -1);
    margin-right : calc(var(--gutter) * -1);
}

.column {
    display : block;
    flex    : 1 1 0%;
    padding : 0 var(--gutter);
}

.lg-12 {
    flex  : none;
    width : 100%;
}

@media screen and (max-width: 600px) {
    .row {
        width         : 100%;
        padding-left  : 6vw;
        padding-right : 6vw;
    }

    .row .row {
        padding-left  : 0;
        padding-right : 0;
    }
}

@media screen and (max-width: 400px) {
    .row .row {
        margin-left  : 0;
        margin-right : 0;
    }

    .block-stack>.column,
    .column {
        flex         : none;
        width        : 100%;
        margin-left  : 0;
        margin-right : 0;
        padding      : 0;
    }

    .hide-on-sm {
        display : none;
    }
}

h1, .h1 {
    font-weight            : 400;
    font-variant-ligatures : common-ligatures;
    text-rendering         : optimizeLegibility;
    margin-top    : var(--vspace-2_5);
    margin-bottom : var(--vspace-0_75);
    font-size      : var(--text-display-1);
    line-height    : var(--vspace-2);
    letter-spacing : -.01em;
}

@media screen and (max-width: 500px) {
    h1, .h1 {
        font-size   : var(--text-xxxl);
        line-height : calc(1.625 * var(--space));
    }
}

.lead {
    font-weight : 300;
    font-size   : var(--text-md);
    line-height : var(--vspace-1_25);
}

.prelogue-head {
    color: var(--color-2-darker) !important;
    font-family: var(--font-AnticDidone) !important;
}

/* ------------------------------------------------------------------- 
 * ## theme-specific typography classes
 * ------------------------------------------------------------------- */
.text-pretitle {
    font-size      : var(--text-sm);
    font-weight    : 400;
    margin-top     : 0;
    margin-left    : .2rem;
    margin-bottom  : var(--vspace-0_5);
    position       : relative;
}


/* ===================================================================
 * # CONTACT
 *
 *
 * ------------------------------------------------------------------- */

 .contact-top {
    padding-top : var(--vspace-1);
    border-top  : 1px solid var(--color-border);
}

.contact-top .h1 {
    margin-top : 0;
}

.contact-bottom {
    padding-bottom : var(--vspace-3);
    margin-top     : var(--vspace-3);
    border-bottom  : 1px solid var(--color-border);
}

.contact-bottom .text-pretitle {
    margin-bottom : var(--vspace-0_125);
}

.contact-links,
.contact-social {
    font-size   : var(--text-md);
    font-weight : 300;
    line-height : var(--vspace-1_25);
    color       : var(--color-text-light);
}

.contact-links {
    font-size   : var(--text-sm) !important;
}

.contact-links a,
.contact-social a {
    color : var(--color-text-light);
}

.contact-links a:focus,
.contact-links a:hover,
.contact-social a:focus,
.contact-social a:hover {
    color : var(--color-1);
}

.social-icon {
    width: var(--vspace-0_75);
    height: var(--vspace-0_75);
    fill: currentColor;
}

.contact-social {
    list-style  : none;
    margin-left : 0;
}

.contact-social li {
    display      : inline-block;
    padding-left : 0;
}

.contact-social li:last-child::after {
    display : none;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * contact
 * ------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
    .contact-top {
        padding-top : var(--vspace-4);
    }
}

