html,
body {
    height : 100%;
    overflow : hidden;
}

.home-body {
    background-color: var(--home-body-color) !important;
    color: var(--home-body-text) !important;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    min-height: 100vh;
}

h1 {
    font-size : 2em;
    margin    : 0.67em 0;
}

a {
    background-color : transparent;
    color      : var(--color-1);
    transition : all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active {
    color : var(--color-2);
}

a:hover,
a:active {
    outline : 0;
}

p {
    font-size      : inherit;
    text-rendering : optimizeLegibility;
}

a {
    text-decoration : none;
}

h1, .h1 {
    font-family            : var(--font-2);
    font-weight            : 400;
    color                  : var(--color-text);
    font-variant-ligatures : common-ligatures;
    text-rendering         : optimizeLegibility;
    margin-top    : var(--vspace-2_5);
    margin-bottom : var(--vspace-0_75);
    font-size      : var(--text-display-1);
    line-height    : var(--vspace-2);
    letter-spacing : -.01em;
}

@media screen and (max-width: 500px) {
    h1, .h1 {
        font-size   : var(--text-xxxl);
        line-height : calc(1.625 * var(--space));
    }
}

ul {
    list-style : disc;
    margin-left : 1.6rem;
}

li {
    display : list-item;
}

ul li {
    padding-left : .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin : 1.6rem 0 1.6rem 1.6rem;
}

ul.disc li {
    display    : list-item;
    list-style : none;
    padding    : 0 0 0 .8rem;
    position   : relative;
}

ul.disc li::before {
    content        : "";
    display        : inline-block;
    width          : 8px;
    height         : 8px;
    border-radius  : 50%;
    background     : var(--color-1);
    position       : absolute;
    left           : -.9em;
    top            : 11px;
    vertical-align : middle;
}

p,
ul {
    margin-bottom : var(--vspace-1);
}

#preloader {
    position        : fixed;
    display         : flex;
    flex-flow       : row wrap;
    justify-content : center;
    align-items     : center;
    background      : var(--color-body);
    z-index         : 500;
    height          : 100vh;
    width           : 100%;
    opacity         : 1;
}

.no-js #preloader {
    display : none;
}

#loader {
    width             : var(--vspace-2);
    height            : var(--vspace-2);
    padding           : 0;
    background-color  : white;
    border-radius     : 100%;
    -webkit-animation : sk-scaleout 1.0s infinite ease-in-out;
    animation         : sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform : scale(0);
        transform         : scale(0);
    }

    100% {
        -webkit-transform : scale(1);
        transform         : scale(1);
        opacity           : 0;
    }
}

@keyframes sk-scaleout {
    0% {
        transform : scale(0);
    }

    100% {
        transform : scale(1);
        opacity   : 0;
    }
}

/* --------------------------------------------------------------------
 * ## circles
 * -------------------------------------------------------------------- */
.s-pagewrap .circles,
.s-pagewrap .circles span {
    position : absolute;
}

.s-pagewrap .circles {
    width  : var(--circle-width);
    height : var(--circle-width);
    top    : calc(100vh - var(--circle-width));
    left   : calc(100% - 33vw);
}

.s-pagewrap .circles span {
    display       : block;
    border        : 1px solid var(--color-1);
    border-radius : 50%;
    opacity       : .1;
    transform     : translate(-50%, -50%);
    left          : 50%;
    top           : 50%;
}

.s-pagewrap .circles span:nth-child(1) {
    height : 100%;
    width  : 100%;
}

.s-pagewrap .circles span:nth-child(2) {
    height : 80%;
    width  : 80%;
}

.s-pagewrap .circles span:nth-child(3) {
    height : 60%;
    width  : 60%;
}

.s-pagewrap .circles span:nth-child(4) {
    height : 40%;
    width  : 40%;
}

.s-pagewrap .circles span:nth-child(5) {
    height : 20%;
    width  : 20%;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * page-wrap
 * ------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
    .s-pagewrap .circles {
        top : calc(var(--header-height) + 5vh);
    }
}

/* ===================================================================
 * # INTRO
 *
 *
 * ------------------------------------------------------------------- */

.vertical-text {
    transform: rotate(360deg) !important;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.main-container {
    width: 100%;
}

.intro-layout {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    padding: calc(var(--vspace-2) + var(--vspace-1)) var(--vspace-2);
}

.social-icon {
    width: var(--vspace-0_75);
    height: var(--vspace-0_75);
    fill: currentColor;
}

.intro-bio {
    width: 100%;
}

.bio-name {
    font-family: var(--font-montserrat);
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 2rem;
    display: inline-block;
    border-bottom: 2px solid var(--home-body-text);
    padding-bottom: 0.5rem;
}

.bio-text {
    margin-bottom: var(--vspace-0_75);
}

.bio-text p {
    font-family: var(--font-montserrat);
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 0;
    opacity: 0.85;
}


.intro-nav {
    width: 100%;
    z-index: 1;
}

.intro-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.huge-link {
    font-family: var(--font-fraunces);
    font-size: clamp(4.5rem, 10.5vw, 22rem); 
    font-weight: 200;
    line-height: 0.82;
    text-transform: uppercase;
    color: #1d1b19 !important;
    display: inline-block;
    letter-spacing: -0.04em;
    text-decoration: none;
    white-space: nowrap;
    /* transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); */
}

/* ===================================================================
* # RESPONSIVE ADJUSTMENTS
* ------------------------------------------------------------------- */

@media screen and (max-width: 1525px) {
    .huge-link {
        font-size: clamp(4rem, 10vw, 18rem);
    }
}

@media screen and (max-width: 1200px) {
    .intro-layout {
        flex-direction: column; 
        align-items: flex-start;
        padding: 40px 25px;
        min-height: auto;
    }

    .intro-nav ul {
        text-align: left;
    }

    .huge-link {
        font-size: clamp(4rem, 18vw, 8rem);
        line-height: 0.9;
        margin-bottom: 1rem;
    }
    
    .huge-link:hover {
        transform: translateX(10px); 
    }
}

@media screen and (max-width: 1100px) {
    .huge-link {
        font-size: clamp(3.5rem, 9.5vw, 14rem);
    }
}

@media screen and (max-width: 800px) {
    .intro-layout {
        justify-content: flex-start;
        gap: calc(var(--vspace-2) + var(--vspace-1)) var(--vspace-2);
    }
}

@media screen and (max-width: 450px) {
    .huge-link {
        font-size: 14vw;
    }
    .bio-text p {
        font-size: 1.4rem;
    }
}